@font-face {
  font-family: abril fatface;
  src: url("https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchq-lmiA.ttf");
}
@font-face {
  font-family: josefin slab;
  src: url("https://fonts.gstatic.com/s/josefinslab/v10/lW-mwjwOK3Ps5GSJlNNkMalvESu6KerlFAke7w.woff2");
}

.navigation {
  background-color: #74cfe2;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navigation .item a {
  color: #044389;
  font-family: "abril fatface", georgia, serif;
  font-size: 19px;
}

.navigation .item img {
  max-height: 55px;
}

.navigation .item .identity strong {
  position: relative;
  top: -25px;
}

.navigation .item .back-to-site {
  color: white;
}

header {
  background-color: #74cfe2;
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url("https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/1984359/761034_256831.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 400px;
  background-position: left 30px;
}

header .title {
  max-width: 800px;
  margin: auto;
  font-family: "abril fatface", georgia, serif;
  color: #044389;
  font-weight: 400;
}

header .subtitle {
  font-family: "josefin slab", georgia, serif;
  padding-top: 20px;
  color: white;
}

@media screen and (max-width: 769px) {
  header {
    background-image: none;
  }
}
